.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.primary{
  background-color: #54494B !important;
}
.text{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.secondary{
  color: #F1F7ED !important;
  background-color: #F1F7ED !important;
}
.text-color{
  color: #91C7B1;
}
.warning-color{
  color: #B33951;
}
.tertiary{
  color:#E3D081 !important;
}
a{
  text-decoration: none;
}
footer{
  position: fixed;
  bottom: 0%;
}